* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
background-color: #288;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.quote-wrapper {
	
	width: 470px;
	height: 400px;
	margin: 0 10px;
	 
}

.quote-wrapper .quote-heading h2 {
	color: black;
	font-weight: 300px;
	width: 100%;
	text-align: center;
	padding: 20px;
	
}
 .quote-wrapper .quote-body {
	width: 100%;
	height: 200px;
	background: #f3f3f3;
	border-radius: 6px;
	padding: 35px 20px;
	
}

.icon-quote {
	
	text-align: center;
	font-size: 19px;
	color: gray;
	overflow: auto;
}


.quote-icon {
	margin-right: 6px;
}
.author {
	text-align: right;
	margin-top: 12px;
}
.quote-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 13px;
	border-top: 1px solid gray;
	padding: 10px 0;
}

.social a {
	font-size: 38px;
	color: #455264;
	transition: .2s ease;
	
}
#first:hover {
	color: #00acee;

}
#next:hover {
	color: black;

}

#button-quote {
	border: none;
	outline: none;
	padding: 10px 14px;
	background-color:#455264;
	color: #fff;
	cursor: pointer;
}

#button-quote:active {
	background: pink;
}
.footer {
	text-align: center;
	margin-top: 7px;
	font-size: 19px;
	color: pink;
}